.destinationContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.planetImg {
  width: 170px;
  height: 170px;
}

.tabHeader {
  text-transform: uppercase;
}

.tabCategory {
  border-bottom: 3px solid #ffffff !important;
}

.destinationPlanetName {
  font-size: 56px;
}

@media screen and (min-width: 768px) {
  .destinationPlanetName {
    font-size: 80px;
  }
  .planetImg {
    width: 300px;
    height: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .destinationContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 4rem;
  }

  .planetImg {
    width: 380px;
    height: 380px;
  }
  .destinationPlanetName {
    font-size: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .planetImg {
    width: 410px;
    height: 410px;
  }
  .destinationPlanetName {
    font-size: 115px;
  }
}
