.technologyContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.spaceContainer {
  width: 100%;
  display: flex;
}

.bulletContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bulletButton {
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #4c4d55;
  color: #ffffff;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bulletButtonActive {
  background-color: #ffffff;
  border: none;
  color: #000 !important;
}

.spaceDataContainer {
  width: 100%;
}

.spaceImage {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  width: 450px;
  height: auto;
  max-width: 600px;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
  .technologyContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

  .bulletContainer {
    width: fit-content;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
  }

  .bulletButton {
    cursor: pointer;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 1px solid #4c4d55;
    color: #ffffff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spaceDataContainer {
    width: 45%;
    margin-right: 130px;
  }
}
@media screen and (min-width: 1200px) {
}
